@* by fady *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Graduation_Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <title>@ViewData["Title"] - Laroze</title>
</head>
<body>
    <div class="off-screen-menu">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            @{
                if (!(User.Identity?.IsAuthenticated ?? false))
                {
                    <li><a asp-controller="Login" asp-action="Index" class="btn btn-primary">Sign in</a></li>
                    <li><a asp-controller="Register" asp-action="add" class="btn btn-secondary">Register</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Logout" class="btn btn-secondary">Logout</a></li>
                }
            }
        </ul>
    </div>

    <nav>
        <div class="ham-logo-container">
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Laroze</a>
            <div class="cart-heart-container">
                <a href="cart.html" class="cart-link"><i class='bx bx-cart'></i></a>
                <a href="#" class="cart-link"><i class='bx bx-heart'></i></a>
            </div>
        </div>
        <ul class="nav-links">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            @{
                if (!(User.Identity?.IsAuthenticated ?? false))
                {
                    <li class="sign-in-li"><a asp-controller="Login" asp-action="Index" class="btn btn-primary">Sign in</a></li>
                    <li><a asp-controller="Register" asp-action="add" class="btn btn-secondary">Register</a></li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle me-1"></i> @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        </ul>
                    </li>
                }
            }
            <li><a href="cart.html" class="cart-link"><i class='bx bx-cart'></i></a></li>
            <li><a href="#" class="cart-link"><i class='bx bx-heart'></i></a></li>
        </ul>
    </nav>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>